pipeline/spotifydatapipeline.json
{
	"name": "spotifydatapipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.metadata",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "getcurrent_date",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "getcdcfilecontent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * \nFROM @{item().schema}.@{item().table}\nWHERE @{item().cdc_col}>@{if(empty(item().from_date),activity('getcdcfilecontent').output.value[0].cdc_timestamp,item().from_date)} \n  \n\n\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azuresqldb",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "datalakestorage_gen2",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().table,'_',variables('current'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "getcdcfilecontent",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "cdc_file",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"file": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "getcurrent_date",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If_incremental_load",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Copy data1').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DeleteEmptyfile",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "datalakestorage_gen2",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item().table,'_',variables('current'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "get_max_cdc",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "Azuresql_ls",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT CAST(max(@{item().cdc_col})as DATE) as cdc_timestamp\nFROM @{item().schema}.@{item().table}\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "update_cdc_column",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "get_max_cdc",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc_timestamp",
														"value": {
															"value": "@activity('get_max_cdc').output.resultSets[0].rows[0].cdc_timestamp",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "cdc_file",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@{item().table}_cdc",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "cdc_file",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": "@{item().table}_cdc",
													"file": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"metadata": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "date_key",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"from_date": ""
					}
				]
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}